@model MvcApp.Models.Customer

@{
    ViewData["Title"] = "Edit Customer";
}

<h1>Edit Customer</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneNumber" class="control-label"></label>
                <input asp-for="TelephoneNumber" class="form-control" />
                <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonName" class="control-label"></label>
                <input asp-for="ContactPersonName" class="form-control" />
                <span asp-validation-for="ContactPersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonEmail" class="control-label"></label>
                <input asp-for="ContactPersonEmail" class="form-control" />
                <span asp-validation-for="ContactPersonEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VatNumber" class="control-label"></label>
                <input asp-for="VatNumber" class="form-control" />
                <span asp-validation-for="VatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
